body {
    overflow: hidden;
    background-color: #fcfcfc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    word-wrap:break-word;
    font-family: arial, helvetica, sans-serif;
}

.infoPane {
    position: absolute;
    background-color: #ffffff;
    border: 1px #ccc solid;
    padding: 15px 35px 15px 35px;
    font-family: arial, helvetica, sans-serif;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#detailPane {
    overflow: auto;
    overflow-x: hidden;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border-radius: 20px;
}

#titlePane {
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    visibility: hidden;
}

#icon {
    cursor: pointer;
}

.nodeOption {
    cursor: pointer;
}

.nodeOptionIcon {
    float: left;
    padding-right: 5px;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    stroke: #000;
    stroke-width: 1.5px;
}

.node.selected {
    stroke-width: 4px;
}