.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.node.search {
    fill: #3ae;
}

.node.resource {
    fill: #d11;
}

.node.support {
    fill: #ed2;
}