body {
    overflow: hidden;
    background-color: #fcfcfc;
}

p {
    word-wrap:break-word;
}

.infoPane {
    position: absolute;
    background-color: #ffffff;
    border: 1px #ccc solid;
    padding: 15px 35px 15px 35px;
    font-family: arial, helvetica, sans-serif;
}

#detailPane {
    overflow: auto;
    overflow-x: hidden;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border-radius: 20px;
}

#titlePane {
    border-radius: 7px;
    padding: 5px 5px 5px 5px;
    visibility: hidden;
}

#icon {
    cursor: pointer;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

.node.search {
    fill: #3ae;
}

.node.resource {
    fill: #d11;
}

.node.support {
    fill: #ed2;
}

.node.support {
    fill: #ed2;
}

.node.selected {
    stroke-width: 4px;
}